<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
    <h1>Here's our users page!</h1>
    <div class="currentUsers">
        {% if users %}
            <table>
                <thead>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                </thead>
                {% for user in users %}
                <tr>
                    <td> {{ user.user_first_name }} </td>
                    <td> {{ user.user_last_name }} </td>
                    <td> {{ user.user_email }} </td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
        <p>No users found!</p>
        {% endif %}
    </div>

    <div class="joinForm">

        <h3>Join our user list!</h3>
        <form action="" method="POST">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="submit">

        </form>
    </div>
</body>
</html>